addict
datasets==2.21.0
modelscope
modelscope[framework]
oss2
rapidfuzz
simplejson
sortedcontainers
librosa
pyproject
opencv-python
opencv-python-headless
timm
unicodedata2
zhconv
decord>=0.6.0
aiohttp
fairseq
jieba
