fastapi
requests
torch
llmtuner
uvicorn
apscheduler
sentencepiece
websockets
faiss-cpu
sentence_transformers
langchain
langchain_community
alive-progress
prompt_toolkit
colorlog
auto_gptq
optimum